<div class="footer">
  <div class="copyright">
    <span class="copyright__text">© 2016, Kenshin</span>
  </div>
  <div class="additional-links">
    <%= link_to 'Home', '#', class: 'additional-links__link' %>
    <%= link_to 'About', '#', class: 'additional-links__link' %>
    <%= link_to 'Program', '#', class: 'additional-links__link' %>
    <%= link_to 'Contact Us', '#', class: 'additional-links__link' %>
  </div>
</div>